@import "../variables.scss";

.SidebarChat{
    padding: 10px 15px 0px 10px;

    &--avatar{

    }
    &--content{
        margin-left: 10px;
        border-bottom: .05px solid $border-color;
        width: 100%;

        &--username-time{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &--lastMsg{
            padding-block: 3px;
        }

    }

}