 @import "../../variables.scss";

 .Sidebar {

     background-color: #fff;
     flex: 0.25;

     &--header {

         display: flex;
         justify-content: space-between;
         padding: 10px 16px;
         background-color: $primary-color;
         border-right: 0.5px solid $border-color;


         &--left {}

         &--right {
             &--items {
                 padding-inline: 5px;
             }
         }
     }

     &--search {
         border-bottom: .5px solid $border-color;

         &--search-box {
            margin: 10px;
            background-color: $primary-color;
             border-radius: 5px;
             display: flex;
             flex-direction: row;
             align-items: center;
             padding-inline: 5px;
         }

         &--icon {}
     }
 }