 @import "../../variables.scss";

.Sidebar{

    background-color: #fff;
    width: 20vw;

    &--header{

        display: flex;
        justify-content: space-between;
        padding: 10px 16px;
        background-color: $primary-color;


        &--left{

        }
        &--right{
            &--items{
                padding-inline: 5px;
            }
        }
    }
    &--search{
        &--search-box{

        }
        &--icon{
            
        }
    }
}