.Sidebar{

    background-color: #fff;
    width: 20vw;

    &--header{

        display: flex;
        justify-content: space-between;
        padding: 10px 16px;


        &--left{

        }
        &--right{
            
        }
    }
}